<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>com.black.alfred-toolkit</string>
    <key>connections</key>
    <dict>
      <key>0AB61A67-AD89-4044-B18F-359C5E966A66</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>A4C78EC0-E05C-42C5-B10E-3ED5E04FB48B</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>2F6A8403-3EA5-4D7E-A8B9-5B7B6F5CAD2C</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>0AB61A67-AD89-4044-B18F-359C5E966A66</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>A1B2C3D4-1111-2222-3333-444455556666</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>69521470-FC2F-4E5F-A250-5CB3EA6616A3</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>A4C78EC0-E05C-42C5-B10E-3ED5E04FB48B</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>FBF2B4EC-BB6C-4DBD-B719-A236CDD1A381</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>sourceoutputuid</key>
          <string>DEF387D5-BBCA-4604-9BA8-40D812F40274</string>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>C3D4E5F6-3333-4444-5555-666677778888</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>black</string>
    <key>description</key>
    <string>A unified Alfred workflow toolkit for developers, providing Unicode decode/encode and more tools.</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>Alfred Toolkit</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>externaltriggerid</key>
          <string>tool-handler-action</string>
          <key>passinputasargument</key>
          <true/>
          <key>passvariables</key>
          <true/>
          <key>workflowbundleid</key>
          <string>self</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.callexternaltrigger</string>
        <key>uid</key>
        <string>69521470-FC2F-4E5F-A250-5CB3EA6616A3</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <false/>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>1</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>bla</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>1</integer>
          <key>runningsubtext</key>
          <string>Loading tools...</string>
          <key>script</key>
          <string>query=$1

./node_modules/.bin/run-node index.js "$query"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>subtext</key>
          <string>Update available: 1.0.0 → 0.2.2. Run `npm install -g alfred-toolkit`</string>
          <key>title</key>
          <string>Alfred Toolkit</string>
          <key>type</key>
          <integer>5</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>A1B2C3D4-1111-2222-3333-444455556666</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>externaltriggerid</key>
          <string>tool-handler-action</string>
          <key>passinputasargument</key>
          <true/>
          <key>passvariables</key>
          <false/>
          <key>workflowbundleid</key>
          <string>self</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.callexternaltrigger</string>
        <key>uid</key>
        <string>FBF2B4EC-BB6C-4DBD-B719-A236CDD1A381</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>availableviaurlhandler</key>
          <false/>
          <key>triggerid</key>
          <string>tool-handler-action</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.trigger.external</string>
        <key>uid</key>
        <string>2F6A8403-3EA5-4D7E-A8B9-5B7B6F5CAD2C</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <false/>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>1</integer>
          <key>runningsubtext</key>
          <string>Processing...</string>
          <key>script</key>
          <string>query=$1

./node_modules/.bin/run-node tool-validate.js "$query"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>subtext</key>
          <string>Update available: 1.0.0 → 0.2.2. Run `npm install -g alfred-toolkit`</string>
          <key>title</key>
          <string>Tool Handler</string>
          <key>type</key>
          <integer>5</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>0AB61A67-AD89-4044-B18F-359C5E966A66</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>conditions</key>
          <array>
            <dict>
              <key>inputstring</key>
              <string>{var:ATK_ACTION}</string>
              <key>matchcasesensitive</key>
              <false/>
              <key>matchmode</key>
              <integer>0</integer>
              <key>matchstring</key>
              <string>convert-now</string>
              <key>outputlabel</key>
              <string/>
              <key>uid</key>
              <string>DEF387D5-BBCA-4604-9BA8-40D812F40274</string>
            </dict>
          </array>
          <key>elselabel</key>
          <string>else</string>
          <key>hideelse</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.conditional</string>
        <key>uid</key>
        <string>A4C78EC0-E05C-42C5-B10E-3ED5E04FB48B</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>autopaste</key>
          <false/>
          <key>clipboardtext</key>
          <string>{query}</string>
          <key>ignoredynamicplaceholders</key>
          <false/>
          <key>transient</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.clipboard</string>
        <key>uid</key>
        <string>C3D4E5F6-3333-4444-5555-666677778888</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
    </array>
    <key>readme</key>
    <string/>
    <key>uidata</key>
    <dict>
      <key>0AB61A67-AD89-4044-B18F-359C5E966A66</key>
      <dict>
        <key>xpos</key>
        <integer>305</integer>
        <key>ypos</key>
        <integer>325</integer>
      </dict>
      <key>2F6A8403-3EA5-4D7E-A8B9-5B7B6F5CAD2C</key>
      <dict>
        <key>note</key>
        <string>call action</string>
        <key>xpos</key>
        <integer>95</integer>
        <key>ypos</key>
        <integer>325</integer>
      </dict>
      <key>69521470-FC2F-4E5F-A250-5CB3EA6616A3</key>
      <dict>
        <key>xpos</key>
        <integer>285</integer>
        <key>ypos</key>
        <integer>110</integer>
      </dict>
      <key>A1B2C3D4-1111-2222-3333-444455556666</key>
      <dict>
        <key>xpos</key>
        <integer>95</integer>
        <key>ypos</key>
        <integer>110</integer>
      </dict>
      <key>A4C78EC0-E05C-42C5-B10E-3ED5E04FB48B</key>
      <dict>
        <key>xpos</key>
        <integer>515</integer>
        <key>ypos</key>
        <integer>340</integer>
      </dict>
      <key>C3D4E5F6-3333-4444-5555-666677778888</key>
      <dict>
        <key>xpos</key>
        <integer>600</integer>
        <key>ypos</key>
        <integer>360</integer>
      </dict>
      <key>FBF2B4EC-BB6C-4DBD-B719-A236CDD1A381</key>
      <dict>
        <key>xpos</key>
        <integer>595</integer>
        <key>ypos</key>
        <integer>230</integer>
      </dict>
    </dict>
    <key>userconfigurationconfig</key>
    <array/>
    <key>variables</key>
    <dict/>
    <key>variablesdontexport</key>
    <array/>
    <key>webaddress</key>
    <string/>
  </dict>
</plist>
