<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>png2blurpx</string>
	<key>connections</key>
	<dict>
		<key>15B81B54-9CDA-4FB9-B57A-92C600117EB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE9209EA-1E65-4B43-9B5A-EF9C13BB30AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>17F1793E-6693-4967-88AD-0FFB07790262</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B50C4C98-E813-4B96-8A7C-93A3F0923D34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>21A523F9-404C-4E09-9B9E-5481EFAFB0B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71F5A7F4-1D5C-463F-8649-988950E3152D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0BF7E947-F05F-4FC1-B3F1-74CA93E138DE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3F36DC5B-07AF-47E4-9AE3-7ED1443299D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9E197ED2-E63B-49A5-9321-55163F7C19EC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8EFC795A-EA70-4057-8F8B-488502DFFA2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DBE21E30-EE67-42C8-B7E4-A79CEE342BFC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6B8874C7-2AB2-4082-8E6A-75B88EC35C33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CB22DF34-3EF7-4CB9-B3A1-F4C508D47F49</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>96588B1F-60F2-47C9-96ED-B95E0326628F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F36DC5B-07AF-47E4-9AE3-7ED1443299D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B39219D-0E0F-4A9B-851F-F042CA5F660C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A71EB2A-3586-4128-9289-BF66DC060790</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A729D65B-2A02-48BE-B447-BE105B9AC04B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B8874C7-2AB2-4082-8E6A-75B88EC35C33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B39219D-0E0F-4A9B-851F-F042CA5F660C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71F5A7F4-1D5C-463F-8649-988950E3152D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B39219D-0E0F-4A9B-851F-F042CA5F660C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8EFC795A-EA70-4057-8F8B-488502DFFA2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B39219D-0E0F-4A9B-851F-F042CA5F660C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96588B1F-60F2-47C9-96ED-B95E0326628F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B39219D-0E0F-4A9B-851F-F042CA5F660C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1DF10B0-0AD2-4AA7-BB41-55A355C26700</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0DA3363-0D50-4630-BE01-7FFBF1CB1A1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A73F0E4D-EA22-4512-BC4B-A70055C42DF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE6DC8E8-D400-4435-A441-01C4FBC98B8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE6DC8E8-D400-4435-A441-01C4FBC98B8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C017E9F-A5B7-4CD0-A769-D0E40DC7D44A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B50C4C98-E813-4B96-8A7C-93A3F0923D34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D04FCDEC-0060-45DF-928F-6853D3F3E512</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7F612B3-57BA-4766-B50E-B9C036198EA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21A523F9-404C-4E09-9B9E-5481EFAFB0B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D04FCDEC-0060-45DF-928F-6853D3F3E512</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7F612B3-57BA-4766-B50E-B9C036198EA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0A27BB5-2B44-466F-A549-A8A94124BA2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EB4B1C8-CBB8-48BD-85AD-655FF65018E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>black</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Img processing</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>png2webp</string>
				<key>subtext</key>
				<string>png2webp</string>
				<key>text</key>
				<string>png2webp</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A1DF10B0-0AD2-4AA7-BB41-55A355C26700</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Coverting</string>
				<key>script</key>
				<string>query=$1

node index.js webp "$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>png2webp</string>
				<key>title</key>
				<string>png2webp</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D0DA3363-0D50-4630-BE01-7FFBF1CB1A1B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>resize</string>
				<key>subtext</key>
				<string>resize</string>
				<key>text</key>
				<string>resize</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D0A27BB5-2B44-466F-A549-A8A94124BA2E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Coverting</string>
				<key>script</key>
				<string>query=$1

node index.js resize "$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>resize</string>
				<key>title</key>
				<string>resize</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7EB4B1C8-CBB8-48BD-85AD-655FF65018E0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>png2ico</string>
				<key>subtext</key>
				<string>png2ico</string>
				<key>text</key>
				<string>png2ico</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>15B81B54-9CDA-4FB9-B57A-92C600117EB7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Coverting</string>
				<key>script</key>
				<string>query=$1

node index.js ico "$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>png2webp</string>
				<key>title</key>
				<string>png2webp</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CE9209EA-1E65-4B43-9B5A-EF9C13BB30AC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>subtext</key>
				<string>input blur value</string>
				<key>text</key>
				<string>input blur value</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>71F5A7F4-1D5C-463F-8649-988950E3152D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>2png</string>
				<key>subtext</key>
				<string>2png</string>
				<key>text</key>
				<string>2png</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4A71EB2A-3586-4128-9289-BF66DC060790</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Coverting</string>
				<key>script</key>
				<string>query=$1

node index.js png "$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>2png</string>
				<key>title</key>
				<string>2png</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A729D65B-2A02-48BE-B447-BE105B9AC04B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>subtext</key>
				<string>input pixel value</string>
				<key>text</key>
				<string>input pixel value</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3F36DC5B-07AF-47E4-9AE3-7ED1443299D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>compressimg</string>
				<key>subtext</key>
				<string>compressimg</string>
				<key>text</key>
				<string>compressimg</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A73F0E4D-EA22-4512-BC4B-A70055C42DF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Coverting</string>
				<key>script</key>
				<string>query=$split1
quality=$split2
node index.js compress "$query" "$quality"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>compressimg</string>
				<key>title</key>
				<string>compressimg</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7C017E9F-A5B7-4CD0-A769-D0E40DC7D44A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>discardemptyarguments</key>
				<true/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>AE6DC8E8-D400-4435-A441-01C4FBC98B8E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>subtext</key>
				<string>input compress value</string>
				<key>text</key>
				<string>input compress value</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8EFC795A-EA70-4057-8F8B-488502DFFA2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:CONVERT_TYPE}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>blur</string>
						<key>outputlabel</key>
						<string>blur</string>
						<key>uid</key>
						<string>0BF7E947-F05F-4FC1-B3F1-74CA93E138DE</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:CONVERT_TYPE}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>pixel</string>
						<key>outputlabel</key>
						<string>pixel</string>
						<key>uid</key>
						<string>9E197ED2-E63B-49A5-9321-55163F7C19EC</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:CONVERT_TYPE}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>compress</string>
						<key>outputlabel</key>
						<string>compress</string>
						<key>uid</key>
						<string>DBE21E30-EE67-42C8-B7E4-A79CEE342BFC</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:CONVERT_TYPE}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>resize</string>
						<key>outputlabel</key>
						<string>resize</string>
						<key>uid</key>
						<string>CB22DF34-3EF7-4CB9-B3A1-F4C508D47F49</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>21A523F9-404C-4E09-9B9E-5481EFAFB0B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Processing</string>
				<key>script</key>
				<string>url=$URL
proccessValue={query}
convertType=$CONVERT_TYPE

node index.js $convertType "$url" "$proccessValue"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Processing</string>
				<key>title</key>
				<string>Processing</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5B39219D-0E0F-4A9B-851F-F042CA5F660C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"blur","arg":"blur","subtitle":"blur"},{"title":"pixel","arg":"pixel","subtitle":"pixel"},{"title":"compress","arg":"compress","subtitle":"compress"},{"title":"resize","arg":"resize","subtitle":"resize"},{"title":"to png","arg":"png","subtitle":"to png"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>select process type</string>
				<key>title</key>
				<string>select process type</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>D04FCDEC-0060-45DF-928F-6853D3F3E512</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>img</string>
				<key>subtext</key>
				<string>img process</string>
				<key>text</key>
				<string>img process</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>17F1793E-6693-4967-88AD-0FFB07790262</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>CONVERT_TYPE</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C7F612B3-57BA-4766-B50E-B9C036198EA5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>URL</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B50C4C98-E813-4B96-8A7C-93A3F0923D34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>subtext</key>
				<string>input resize value</string>
				<key>text</key>
				<string>input resize value</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6B8874C7-2AB2-4082-8E6A-75B88EC35C33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>96588B1F-60F2-47C9-96ED-B95E0326628F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>15B81B54-9CDA-4FB9-B57A-92C600117EB7</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>17F1793E-6693-4967-88AD-0FFB07790262</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>21A523F9-404C-4E09-9B9E-5481EFAFB0B8</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>3F36DC5B-07AF-47E4-9AE3-7ED1443299D7</key>
		<dict>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>4A71EB2A-3586-4128-9289-BF66DC060790</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>5B39219D-0E0F-4A9B-851F-F042CA5F660C</key>
		<dict>
			<key>xpos</key>
			<real>765</real>
			<key>ypos</key>
			<real>645</real>
		</dict>
		<key>6B8874C7-2AB2-4082-8E6A-75B88EC35C33</key>
		<dict>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>720</real>
		</dict>
		<key>71F5A7F4-1D5C-463F-8649-988950E3152D</key>
		<dict>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>7C017E9F-A5B7-4CD0-A769-D0E40DC7D44A</key>
		<dict>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>7EB4B1C8-CBB8-48BD-85AD-655FF65018E0</key>
		<dict>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>8EFC795A-EA70-4057-8F8B-488502DFFA2D</key>
		<dict>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>600</real>
		</dict>
		<key>96588B1F-60F2-47C9-96ED-B95E0326628F</key>
		<dict>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>845</real>
		</dict>
		<key>A1DF10B0-0AD2-4AA7-BB41-55A355C26700</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>A729D65B-2A02-48BE-B447-BE105B9AC04B</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>A73F0E4D-EA22-4512-BC4B-A70055C42DF9</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>AE6DC8E8-D400-4435-A441-01C4FBC98B8E</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>B50C4C98-E813-4B96-8A7C-93A3F0923D34</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>C7F612B3-57BA-4766-B50E-B9C036198EA5</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>CE9209EA-1E65-4B43-9B5A-EF9C13BB30AC</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>D04FCDEC-0060-45DF-928F-6853D3F3E512</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>D0A27BB5-2B44-466F-A549-A8A94124BA2E</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>D0DA3363-0D50-4630-BE01-7FFBF1CB1A1B</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>30</string>
				<key>placeholder</key>
				<string>default 30</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>blur程度</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>BLUR_VALUE</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
